%p= link_to 'New', new_kid_event_comment_path
%table.table.table-condensed
  %thead
    %tr
      %th= 'Content'
      %th= 'Date'
  %tbody
    - comments.each do |c|
      %tr
        %td= c.content
        %td= c.created_at || c.updated_at
