%h1= user.name
%table.table.table-condensed
  %tbody
    %tr
      %td= "Name: "
      %td= user.name
    %tr
      %td= "User's family: "
      %td= user.family.name
- if user.has_role? :kid
  %b Family Events:
  %hr
  %ul
    - user.family.events.each do |event|
      .alert{ "class" => "alert-#{event.events_type.color}"}
        %li= event.name





