%h1= user.name
%table.table.table-condensed
  %tbody
    %tr
      %td
        %b= "Name: "
      %td= user.name
    %tr
      %td
        %b= "User's family: "
      %td= user.family.name
    %tr
      %td
        %b= "Status: "
      %td= user.roles.first.name
    - if user.has_role? :kid
      %tr
        %td
          %b= "Score: "
        %td= user.score

- if user.has_role? :kid
  %b User events:
  %hr
    - user.events.each do |event|
      .col-md-5.panel{ "class" => "panel-#{event.events_type.decorate.color}"}
        - user.kid_events.where(event_id: event.id).each do |kid_event|
          .panel-heading
            = event.name
          .panel-body
            %b Comments:
            %hr
              - kid_event.comments.each do |comment|
                = comment.content
          .panel-footer
            .pull-right
              .span{ 'class' => "#{kid_event.decorate.done?}" }








