%h1= user.name
%table.table.table-condensed
  %tbody
    %tr
      %td
        %b= "Name: "
      %td= user.name
    %tr
      %td
        %b= "User's family: "
      %td= user.family.name
    %tr
      %td
        %b= "Status: "
      %td= user.roles.first.name
    - if user.has_role? :kid
      %tr
        %td
          %b= "Score: "
        %td= user.score

- if user.has_role? :kid
  %b User events:
  %hr
    - user.events.each do |event|
      .container
        - user.kid_events.where(event_id: event.id).each do |kid_event|
          .panel{ "class" => "panel-#{event.events_type.decorate.color}"}
            .panel-heading
              = event.name
            .panel-body
              %b Comments:
              %hr
                - kid_event.comments.each do |comment|
                  = comment.content
                  %br
            .pull-right
              = "Done: "
              .span{ 'class' => "#{kid_event.decorate.done?}" }
            .pull-left
              %button.btn.btn-primary.btn-sm{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
                = "Add comment"
              #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %h4#myModalLabel.modal-title Comment
                    .modal-body
                      = simple_form_for [kid_event, Comment.new], :url => url_for(action: 'create', controller: 'comments', kid_event_id: kid_event.id), method: 'post' do |f|
                        = f.input :content
                        = f.button :submit
        %br
        %br











