%table.table.table-condensed
  %thead
    %tr
      %th= 'Event name'
      %th= 'Description'
      %th= 'Points'
  %tbody
    - events.each do |e|
      %tr
        %td= e.name
        %td= e.description
        %td= e.points
        %td
          %a.btn.btn-default{:href => new_kid_event_path, :role => "button"} Assign kid
